
#formacao_academica{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
#formacao_complementar{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}